.base{
    background: #E8EFFB;
    padding-bottom: 34px;
    .content{
        background: #E8EFFB;
        overflow: hidden;
        padding: 32px 0;
        .scroll_prod{
            position: relative;
            margin: 0 auto;
            display: block;
            width:193px;
            height:241px;
            background:rgba(255,255,255,1);
            box-shadow:0px 3px 6px rgba(0,0,0,0.16);
            opacity:1;
            border-radius:10px;
            img{
                display: block;
                width: 162px !important;
                height: 162px;
                display: block;
                margin: 0 auto;
                padding-top: 14px;
            }
            div{
                text-align: center;
                font-size: 26px;
                margin-top: 11px;
                color: #666666;
            }
        }
    }
    .service-detail{
        position: relative;
        z-index: 1;
        width:689px;
        height:347px;
        background:rgba(255,255,255,1);
        box-shadow:0px 3px 6px rgba(0,0,0,0.16);
        opacity:1;
        border-radius:10px;
        margin: 0 auto;
        margin-top: 3px;
        .three-peace {
            z-index: -1;
            position: absolute;
            top: -20px;
            left: 50%;
            margin-left: -20px;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 40px solid #FFFFFF;
        }
        .service-detail-index{
            font-size: 26px;
            color: #999999;
            text-align: left;
            .detail-index-1{
                width: 617px;
                margin: 0 auto;
                height: 92px;
                line-height: 92px;
                font-size: 26px;
                text-align: center;
            }
        }
    }
    .order-detail{
        width:689px;
        height:495px;
        background:rgba(255,255,255,1);
        box-shadow:0px 3px 6px rgba(0,0,0,0.16);
        opacity:1;
        border-radius:10px;
        margin: 0 auto;
        margin-top: 28px;
        .order-detail-tit{
            position: relative;
            height: 87px;
            line-height: 87px;
            padding-left: 35px;
            text-align: left;
            font-size: 26px;
            color: #000000;
            .order-detail-status{
                position: absolute;
                top: 19px;
                right: 0;
                width:148px;
                height:48px;
                line-height: 48px;
                background:rgba(191,191,191,1);
                opacity:1;
                border-radius:30px 0px 0px 30px;
                font-size: 24px;
                color: #FFFFFF;       
                text-align: center;

            }
        }
        .order-detail-content{
            width: 617px;
            height: 408px;
            border-top: 1px solid #CDD8E1;
            margin: 0 auto;
            ul{
                margin-top: 15px;
                li{
                    font-size: 26px;
                    color: #999999;
                    height: 54px;
                    line-height: 54px;
                }
            }
        }
    }
    .order-evaluate{
        width:689px;
        background:rgba(255,255,255,1);
        box-shadow:0px 3px 6px rgba(0,0,0,0.16);
        opacity:1;
        border-radius:10px;
        margin: 0 auto;
        margin-top: 28px;
        .order-evaluate-tit{
            height: 87px;
            line-height: 87px;
            padding-left: 35px;
            text-align: left;
            font-size: 26px;
            color: #000000;
        }
        .order-evaluate-content{
            border-top: 1px solid #cdd8e1;
            width: 617px;
            margin: 0 auto;
            overflow: hidden;
            p{
                font-size: 26px;
                color: #999999;
                padding-top: 32px;
            }
            ul{
                li{
                    display: block;
                    float: left;
                    width: 170px;
                    height: 170px;
                    margin: 26px 16px;
                    img{
                        width: 170px;
                        height: 170px;
                    }
                }
            }
        }
    }
}